.CountryTableDiv {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
  border: 3px solid grey;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  width: 70%;
  margin: 0px auto 50px;
  border-top: none;
}
.CountryTableDiv > div {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid grey;
  padding: 10px 0;
}
.CountryTableDiv > div > div {
  width: 170px;
  font-size: large;
}
.SearchInp {
  border: 3px solid grey;
  width: 70%;
  margin: auto;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  margin-top: 50px;
}
.SearchInp > input {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}
